body {
  background-color: #C2FEFF;
  color: #0C2657;
  text-decoration-color: #0C2657;
  font-size: 1.5rem;

}

#title-container {
  width: 100%;
  text-align: center;
  color: #70041C;
  max-height: 200px;
  font-size: 3.5em; 
}

#text-container {
    width: 100%;
    text-align: center;
  }

a{
  color: #087669;
  text-decoration-color: #087669;
  size: 
}

a:hover {
  color: #087669;
  text-decoration-color: #087669;
  background-color: #EDCF82;
}

img{
  position: center;
  width: 100%;
  height: auto%;
}

